# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Vimplug
nvim/autoload
nvim/plugged
nvim/spell/*.sug
nvim/spell/*.spl

# Fish
fish/fish*
!fish/fishfile
fish/conf.d/*

# Rust
target-install
